
.name {
  font-size: 72px;
  position: absolute;
  top: 295px;
  left:50%;
  transform: translateX(-50%);
  font-weight: 600;
  z-index: 3;
  font-family: sans-serif;
  color: #000000;
  text-align: center;
}
.description {
  font-size: 40px;
  position: absolute;
  top: 380px;
  left:50%;
  transform: translateX(-50%);
  font-weight: 600;
  z-index: 3;
  font-family: sans-serif;
  color: #000000;
  text-align: center;
}
.description {

  width: 600px;
}
.colorOfDev {
  color:#f05354;
}
.colorOfsci {
  color:#1778f2;
}

/* responsiveness */

/* ultra large laptop */
@media screen and (min-width:1600px) and (max-width:2562px) {
  .name {
    font-size: 128px;
    top:530px;
  }
  .description {
    font-size: 71px;
    width: 1066px;
    top:680px;
  }
}

/* small laptop */

@media screen and (max-width:1025px) {
  .name {
    font-size: 51.2px;
    top:267px;
  }
  .description {
    font-size: 28.4px;
    width: 426px;
    top:330px
  }
}

/* tablet */

@media screen and (max-width:769px)  {
  .name {
    font-size: 39px;
    top:267px;
  }
  .description {
    font-size: 29px;
    width: 500px;
    margin-top: 0px;
    top:330px;
  }
}
/* large mobile */
@media screen and (max-width:445px) {
  .name {
    font-size: 25px;
    top:190px;
  }
  .description {
    font-size: 25px;
    width: 350px;
    margin-top: 0px;
    top: 250px;
  }
}


/* medium mobile */
@media screen and (max-width:416px) {
  .name {
    font-size: 21px;
    top:190px;
  }
  .description {
    font-size: 21px;
    top: 250px;
  }
} 

/* small mobile */
@media screen and (max-width:378px) {
  .name {
    font-size: 19px;
  }
  .description {
    font-size: 19px;
    width: 250px;
  }
}

/* ipad air */
@media  (min-width: 800px) and (max-width: 850px) {
  .name {
    font-size: 45px;
  }
}

/* surface duo */
@media screen and (min-width:539px) and (max-width:570px) {
   .name {
    font-size: 28px;
   }

}

/* galaxy fold */
@media screen and (min-width:270px) and (max-width:290px) {
 .name {
  font-size: 17px;
  width: 200px;
  top:200px;
 }
}

/* Asus Zenbook fold */

@media screen and (min-width:851px) and (max-width:860px) {
  .name {
    font-size: 40px;
  }
 }