footer {
  height: 230px;
  width:100vw;
  position: absolute;
 background-color: #F0F0F0;
  z-index: 11;
  bottom: -1800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.touch {
  font-size: 30px;
  margin-top: 10px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 700;
  color: #669CFF;
}
.container {
    margin-top: 15px;
}
.container a img {
  height: 55px;
  width:55px;
}
.overlay {
  height:10px;
  width:400px;
  background-color:#669CFF ;
  transform: translateY(-15px);
  opacity: 0.4;
  transition: transform 0.3s linear;
}
p {
  font-family: sans-serif;
  font-weight: 700;
  color:#2f363d ;
  margin-top: 30px;
}
.span {
  background: linear-gradient(to right, #F64F59, #C471ED, #12C2E9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* responsiveness */

/* ultra large laptop */
@media screen and (min-width: 1600px) and (max-width: 2562px) {
  footer {
    height: 408px;
    bottom: -3200px;
  }
  .touch {
    font-size: 53px;
    margin-top: 17px;
  }
  .container {
      margin-top: 26px;
  }
  .container a img {
    height: 98px;
    width:98px;
  }
  .overlay {
    height:17px;
    width:711px;
    transform: translateY(-15px);
  }
  p {
    margin-top: 53px;
  }
}

/* small laptop */

@media screen and (max-width:1025px) {
  footer {
    height: 163.2px;
    bottom: -1280px;
  }
  .touch {
    font-size: 21.2px;
    margin-top: 7px;
  }
  .container {
      margin-top: 10.4px;
  }
  .container a img {
    height: 39.2px;
    width:39.2px;
  }
  .overlay {
  display: none;
  }
  p {
    margin-top: 22px;
  }
}

/* tablet */

@media screen and (max-width:769px) {
  footer {
    height: 163.2px;
    bottom: -1000px;
  }
  .touch {
    font-size: 21.2px;
    margin-top: 7px;
  }
  .container {
      margin-top: 10.4px;
  }
  .container a img {
    height: 39.2px;
    width:39.2px;
  }
  .overlay {
  display: none;
  }
  p {
    margin-top: 22px;
  }
}


/* large mobile */
@media screen and (max-width:445px) {
  footer {
    bottom: -1750px;
  }
}

/* medium mobile */
@media screen and (max-width:416px) {
  .love {
    font-size: 0.8rem;
  }
}