header {
  height:111px;
  width:100vw;
  overflow: hidden;
  background-color: #FAFAFA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 64px;
 padding-right: 100px;
position: absolute;
z-index: 2;
}
.name {
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #000000;

}
.colorName {
  text-decoration: none;
  color: #000000;
}
.name::after{
  display: block;
  content: '';
  border-bottom: solid 3px #019fb6;
  transform: scaleX(0);
  transition: transform 750ms ease-in-out;
}
.name:hover:after { transform: scaleX(1); }
.name.fromLeft::after {
  transform-origin: 0% 50%;
}
.container {
  display: flex;
  flex-direction: row;
 
}
.link {
  font-size: 18px;
  font-family:  sans-serif;
  font-weight: 400;
  margin: 0px 20px;
  text-decoration: none;
  color:gray;
}
.link::after{
  display: block;
  content: '';
  border-bottom: solid 3px #019fb6;
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
}
.link:hover:after { transform: scaleX(1); }
.link.fromLeft::after {
  transform-origin: 0% 50%;
}

.color {
  color:black;
  font-weight: 550;
}

/* responsiveness */ 


/* ultra large laptop */

@media screen and (min-width:1600px) and (max-width:2562px){
  header {
    height:197px;
    padding: 0px 113px;
   padding-right: 177.7777778px;
  }
  .name {
    font-size: 44.44px;
  }
  .name::after{
    border-bottom: solid 6px #019fb6;
  }
  .link {
    font-size: 32px;
    margin: 0px 35px;
  }
  .link::after{
    border-bottom: solid 6px #019fb6;
  }
}


/* small laptop */

@media screen and (max-width:1025px){
  header {
    height:79px;
    padding: 0px 45px;
   padding-right: 71px;
  }
  .name {
    font-size: 17px;
  }
  .name::after{
    border-bottom: solid 2.4px #019fb6;
  }
  .link {
    font-size: 12.8px;
    margin: 0px 14px;
  }
  .link::after{
    border-bottom: solid 2.4px #019fb6;
  }
}

/* tablet */

@media screen and (max-width:769px) {
  header {
    height:100px;
    padding: 0px 34px;
   padding-right: 54px;
  }
  .name {
    font-size: 23px;
  }
  .name::after{
    border-bottom: solid 1.8px #019fb6;
  }
  .link {
    font-size: 15px;
    margin: 0px 11px;
  }
  .link::after{
    border-bottom: solid 1.8px #019fb6;
  }
}

/* large mobile */
@media screen and (max-width:445px) {
  header {
    height:120px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0px 0px;
   padding-right: 0px;
   background-color: #000000;
  }
  .name {
    font-size: 23px; 
    color: white; 
  }
  .link {
    font-size: 20px;
    font-family:  sans-serif;
    font-weight: 400;
    margin: 0px 20px;
    text-decoration: none;
    color:gray;
  }
  .color {
    color:white;
    font-weight: 550;
  }
}

/* medium mobile */
@media screen and (max-width:416px) {
  .name {
    font-size: 21px; 
  }
  .link {
    font-size: 17px;
  }
}

