.parent {
  height: 1800px;
  width: 100vw;
  background-color: #fafafa;
  position: absolute;
  top: 707px;
  z-index: 4;
  display: flex;
  flex-direction: column;
}
.project {
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 600;
  padding: 0px 100px;
}
.line {
  height: 0.5px;
  width: 500px;
  background-color: gray;
}
.container {
  height: 1500px;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  padding: 0 20px;
}

.coding {
  /* background-image: url("../assets/frontPage.png"); */

  height: 434px;
  width: 600px;
  position: relative;
  z-index: 1;
  margin: 10px;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width:100%;
  height:auto;
}

.name {
  height: 86px;
  width: 253px;
  display: flex;
  position: absolute;
  z-index: 3;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  text-decoration: none;
  font-family: sans-serif;
  color: #ffffff;
  transform: translateY(300px);
  text-shadow: 2px 2px 4px rgba(0, 102, 204, 0.5),
    -2px -2px 4px rgba(255, 102, 0, 0.5), 0 0 8px rgba(0, 51, 102, 0.5);
}
.coding:hover {
  height: 450px;
  width: 625px;
  z-index: 2;
  margin: 5px;
}

.overlay {
  height: 434px;
  width: 600px;
  position: absolute;
  z-index: 3;
  margin: 10px;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  border-radius: 20px;
  overflow: hidden;
}

.overlay:hover {
  height: 450px;
  width: 625px;
  z-index: 2;
  margin: 5px;
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #00ffff,
    #0000ff,
    #8b00ff
  );
}

/* responsiveness */

/* ultra large laptop */
@media screen and (min-width: 1600px) and (max-width: 2562px) {
  .photo {
    height: 771px;
    width: 1066px;
  }
  .parent {
    height: 3200px;
    top:1400px;
  }

  .project {
    height: 177px;
    font-size: 53px;
    padding: 0px 177px;
  }
  .line {
    height: 0.9px;
    width: 888px;
  }
  .container {
    height: 2666px;
    padding: 0 35px;
  }
  .coding {
    height: 771px;
    width: 1066px;
    margin: 17px;
    margin-bottom: 17px;
    border-radius: 35px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1), 0 7px 14px rgba(0, 0, 0, 0.1),
      0 14px 28px rgba(0, 0, 0, 0.1);
  }
  .name {
    height: 152px;
    width: 449px;
    font-size: 62px;
    transform: translateY(500px);
    text-shadow: 4px 4px 7px rgba(0, 102, 204, 0.5),
      -4px -4px 7px rgba(255, 102, 0, 0.5), 0 0 14px rgba(0, 51, 102, 0.5);
  }
  .coding:hover {
    height: 800px;
    width: 1111px;
    margin: 9px;
  }
  .overlay {
    height: 771px;
    width: 106px;
    margin: 17px;
    margin-bottom: 17px;
    border-radius: 35px;
  }
  .overlay:hover {
    height: 800px;
    width: 1111px;
    margin: 9px;
  }
}

/* small laptop */

@media screen and (max-width:1025px) {
  .parent {
    height: 1280px;
    top: 630px;
  }

  .project {
    height: 70.8px;
    font-size: 21.2px;
    padding: 0px 70.8px;
  }
  .line {
    height: 0.4px;
    width: 355px;
  }
  .container {
    height: 1066px;
    padding: 0 14px;
  }
  .coding {
    height: 308px;
    width: 426px;
    margin: 7px;
    margin-bottom: 7px;
    border-radius: 14px;
    box-shadow: 0 1.7px 2.8px rgba(0, 0, 0, 0.1), 0 2.8px 5.6px rgba(0, 0, 0, 0.1),
      0 6px 11.2px rgba(0, 0, 0, 0.1);
  }
  .name {
    height: 61px;
    width: 179px;
    font-size: 24.8px;
  }
  .coding:hover {
    height: 320px;
    width: 444.5px;
    margin: 4px;
  }
  .overlay {
    height: 309px;
    width: 43px;
    margin: 7px;
    margin-bottom: 7px;
    border-radius: 14px;
  }
  .overlay:hover {
    height: 320px;
    width: 444.4px;
    margin: 3.6px;
  }
}

/* tablet */

@media screen and (max-width:769px){
  .parent {
    height: 1000px;
    top:600px;
  }

  .project {
    height: 53.1px;
    font-size: 15.9px;
    padding: 0px 53.1px;
  }
  .line {
    height: 0.4px;
    width: 266px;
  }
  .container {
    height: 800px;
    padding: 0 11px;
  }
  .coding {
    height: 231px;
    width: 319px;
    margin: 6px;
    margin-bottom: 7px;
    border-radius: 11px;
  }
  .name {
    height: 45.75px;
    width: 134.50px;
    font-size: 18px;
    transform: translate(0px);
  }

  .overlay {
  display:none;
  }
}

/* large mobile */
@media screen and (max-width:445px) {
  .parent {
    height: 1900px;
    top: 452px;
  }
  .project {
    height: 53.1px;
    font-size: 20px;
    padding: 0px 40px;
    margin-bottom: 20px;
  }
  .line {
    height: 0.4px;
    width: 100px;
  }
  .container {
    height: 1800px;
  }
  
}


/* medium mobile */
@media screen and (max-width:416px) {
  .parent {
    top: 452px;
  }
  .project {
    height: 51.1px;
    font-size: 17px;
    padding: 0px 30px;
    margin-bottom: 20px;
  }
  .line {
    height: 0.4px;
    width: 100px;
  }
  .container {
    height: 1800px;
  }
}

/* small mobile */
@media screen and (max-width:378px) {
  .project {
    font-size: 15px;
    padding: 0px 20px;
  }
  .line {
    height: 0.4px;
    width: 90px;
  }
}

/* iphone xr */
@media screen and (min-width:413px) and (max-width:415px){
  .parent {
   height: 2300px;
  }
}

/* iphone 12 pro */

@media screen and (min-height:820px) and (max-height:849px){
  .parent {
   height:2190px;
  }

}
/* iphone 14 pro */

@media screen and (min-width:429px) and (max-width:431px){
  .parent {
   height:2240px;
  }

}
/* samsung s8+ */

@media screen and (min-height:740px) and (max-height:744px) {
  .parent {
    height:2100px;
   }
}

/*samsung s20 ultra */
@media screen and (min-height:914px)  and (max-height:920px){
  .parent {
    height:2300px;
   }
}

/*ipad mini */
@media screen and (min-height:1023px) and (max-height:1025px)  {
  .parent {
    height:1400px;
   }
   .name {
    transform: translateY(0px);
  }
}

/* ipad air */
@media  (min-height: 1179px) and (max-height: 1184px) {
  .parent {
    top: 650px;
    height: 1550px;
  }
  .container {
    height: 700px;
    margin-top: 20px;
  }
  .coding {
    /* background-image: url("../assets/frontPage.png"); */
  
    height: 200px;
    width: 300px;
  }
 
  .line {
    width:200px;
  }
  .name {
    transform: translateY(0px);
  }
}

/* ipad pro */
@media  (min-height: 1355px) and (max-height: 1380px) {
  .parent {
    height:2100px;
  }
  .name {
    transform: translateY(0px);
  }
}


/* surface duo */
@media screen and (min-width:539px) and (max-width:570px) {
   .line {
    width:150px;
   }
   .parent {
    height:2000px;
   }
   .container {
    height:1600px;
    margin-top: 20px;
   }
}

/* galaxy fold */
@media screen and (min-width:270px) and (max-width:290px) {
  .line {
    width:80px;
  }
  .project {
    font-size: 10px;
    text-align: center;
  }
 }

 /* Asus Zenbook fold */

 @media screen and (min-width:851px) and (max-width:860px) {
  .line {
    width:250px;
  }
  .parent {
    height:1600px;
  }
  .container {
    height:700px;
    margin-top: 20px;
  }
  .coding {
    height:200px;
    width:300px;
  }
 }

 /* nestHub max */
@media screen and (min-height:799px) and (max-height:802px) {
 .line{
  width:360px;
 }
 .parent {
  height: 1950px;
 }
}